<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Estilos customizados -->
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<!-- Fontes -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="inner cover bg-body">	
	<header>
		<!-- Primeira Sessão com fundo de imagem -->
		<div class= "" 
			th:style="'background-image:url(' + @{/img/bg01.jpg} + '); 
				background-repeat: no-repeat, repeat; 
				background-size: cover;
				background-position: center;
				height: auto;'">	
			<!-- Menu de navegação -->
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">Minha App</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ms-auto">
							<li class="nav-item">
								<div th:if="${username == 'Guest'}">
									<a class="btn btn-success me-2" th:href="@{/register}">Cadastrar-se</a>
								</div>
							</li>
							<li class="nav-item">
								<div class="navbar-brand" th:if="${username != 'Guest'}">
									<span>Bem-vindo, <strong th:text="${username}"></strong>!</span>
								</div>
							</li>
							<li class="nav-item">
								<form th:if="${username != 'Guest'}" th:action="@{/logout}" method="post" class="d-inline">
									<button type="submit" class="btn btn-danger">Logout</button>
								</form>
							</li>
							<li class="nav-item">
								<!-- Button trigger modal -->
								<div th:if="${username == 'Guest'}">
									<button type="button" class="btn btn-primary" data-toggle="modal"
										data-target="#exampleModal">Login </button>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
									aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Login</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<!-- Formulário de login -->
												<form th:action="@{/login}" method="post" th:object="${usuario}">
													<div class="form-group mb-3">
														<label for="username">Username</label>
														<input type="text" class="form-control" id="username"
															name="username" required>
													</div>
													<div class="form-group mb-3">
														<label for="password">Password</label>
														<input type="password" class="form-control" id="password"
															name="password" required>
													</div>
													<div class="d-grid">
														<button type="submit"
															class="btn btn-primary btn-block">Login</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>	
			<div class="background py-5"> 
				<div class="container text-center text-light">
						<h1 class="display-4 gowun-batang-bold">Traga a Natureza para sua Casa</h1>
						<p class="lead gowun-batang-bold">Encontre as plantas perfeitas para transformar seu espaço.</p>
						<a href="#" class="btn btn-light btn-lg">Saiba Mais</a>
				</div>
			</div>
		</div>
	</header>
	<!-- Segunda Sessão -->
	<section class="section py-3">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="col-12 col-md-8 text-left mb-3 mb-md-0">
					<h2>Plantas para Qualquer Ambiente</h2>
					<p>Escolha entre uma grande variedade de plantas que se adaptam ao seu estilo de vida.</p>
				</div>
				<div class="col-12 col-md-4 text-md-right d-flex justify-content-md-end">
					<a href="#" class="btn btn-success btn-lg px-5">Comprar</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Sessão de produtos-->
	<section class="section py-2">
		<div class="container">
			<div class="card-group">
				<div th:each="produto : ${produtos}" class="card">
					<img th:src="${produto.imagemUrl}" class="card-img-top" th:alt="${produto.nome}">
					<div class="card-body">
						<h5 class="card-title" th:text="${produto.nome}">R$ </h5>
						<p class="card-text">
							<small class="text-muted" th:text="${produto.preco}">R$ </small>
						</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-outline-success">Ver</button>
								<button type="button" class="btn btn-sm btn-outline-success">Comprar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Terceira Sessão -->
	<section class="section py-5">
		<div class="container">
			<h2 class="text-center">Cuidados e Dicas Exclusivas</h2>
			<p class="text-center">Receba dicas de cuidados e cultive suas plantas com facilidade.</p>
			<div class="row mb-2">
				<div class="col-md-6">
					<div class="card flex-md-row mb-4 box-shadow h-md-250">
						<div class="card-body d-flex flex-column align-items-start">
							<strong class="d-inline-block mb-2 text-primary">World</strong>
							<h3 class="mb-0">
								<a class="text-dark" href="#">Featured post</a>
							</h3>
							<div class="mb-1 text-muted"></div>
							<p class="card-text mb-auto">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
								Libero quasi sunt corporis nam voluptates itaque illo. Aspernatur iusto, laudantium
								quasi vitae.</p>
							<a href="#">Continue reading</a>
						</div>
						<img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
							alt="Thumbnail [200x250]" th:src="@{img/planta_f.jpg}"
							data-holder-rendered="true" style="width: 200px; height: 250px;">
					</div>
				</div>
				<div class="col-md-6">
					<div class="card flex-md-row mb-4 box-shadow h-md-250">
						<div class="card-body d-flex flex-column align-items-start">
							<strong class="d-inline-block mb-2 text-success">Design</strong>
							<h3 class="mb-0">
								<a class="text-dark" href="#">Post title</a>
							</h3>
							<div class="mb-1 text-muted"></div>
							<p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Nesciunt iure aut omnis et, tempora dignissimos distinctio minus nostrum reprehenderit
								nemo fugit eum.</p>
							<a href="#">Continue reading</a>
						</div>
						<img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
							alt="Thumbnail [200x250]" th:src="@{img/planta_e.jpg}"
							data-holder-rendered="true" style="width: 200px; height: 250px;">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Quarta Sessão -->
	<section class="section py-5">
		<div class="container text-center">
			<h2>Entrega Rápida e Segura</h2>
			<p>Receba suas plantas no conforto de sua casa, com todo o cuidado necessário.</p>
			<a href="#" class="btn btn-success btn-lg">Saiba Mais</a>
		</div>
	</section>
	<!-- Footer -->
	<footer class="text-center py-4">
		<p>&copy; 2024 Plantas & Natureza. Todos os direitos reservados.</p>
	</footer>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>